

/* Navbar.module.css */
.navbar {
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
background: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logoWrapper {
display: flex;
align-items: center;
gap: 0.75rem;
}


.avatar {
width: 42px;
height: 42px;
border-radius: 50%;
background-image: url('/CoreSoftStudio.png');
background-size: cover;
background-position: center;
}


.logo {
font-size: 1.25rem;
font-weight: bold;
letter-spacing: 1px;
}


.menu {
display: flex;
gap: 2.5rem;
list-style: none;
}


.link {
text-decoration: none;
transition: color 0.2s ease;
}


.link:hover {
color: gray;
}